[submodule "holons/grace-op"]
	path = holons/grace-op
	url = git@github.com:organic-programming/grace-op.git
[submodule "holons/rob-go"]
	path = holons/rob-go
	url = git@github.com:organic-programming/rob-go.git
