[submodule "holons/sophia-who"]
	path = holons/sophia-who
	url = git@github.com:organic-programming/sophia-who.git
[submodule "holons/grace-op"]
	path = holons/grace-op
	url = git@github.com:organic-programming/grace-op.git
[submodule "sdk/c-holons"]
	path = sdk/c-holons
	url = git@github.com:organic-programming/c-holons.git
[submodule "sdk/cpp-holons"]
	path = sdk/cpp-holons
	url = git@github.com:organic-programming/cpp-holons.git
[submodule "sdk/csharp-holons"]
	path = sdk/csharp-holons
	url = git@github.com:organic-programming/csharp-holons.git
[submodule "sdk/dart-holons"]
	path = sdk/dart-holons
	url = git@github.com:organic-programming/dart-holons.git
[submodule "sdk/go-holons"]
	path = sdk/go-holons
	url = git@github.com:organic-programming/go-holons.git
[submodule "sdk/java-holons"]
	path = sdk/java-holons
	url = git@github.com:organic-programming/java-holons.git
[submodule "sdk/js-holons"]
	path = sdk/js-holons
	url = git@github.com:organic-programming/js-holons.git
[submodule "sdk/js-web-holons"]
	path = sdk/js-web-holons
	url = git@github.com:organic-programming/js-web-holons.git
[submodule "sdk/kotlin-holons"]
	path = sdk/kotlin-holons
	url = git@github.com:organic-programming/kotlin-holons.git
[submodule "sdk/objc-holons"]
	path = sdk/objc-holons
	url = git@github.com:organic-programming/objc-holons.git
[submodule "sdk/python-holons"]
	path = sdk/python-holons
	url = git@github.com:organic-programming/python-holons.git
[submodule "sdk/ruby-holons"]
	path = sdk/ruby-holons
	url = git@github.com:organic-programming/ruby-holons.git
[submodule "sdk/rust-holons"]
	path = sdk/rust-holons
	url = git@github.com:organic-programming/rust-holons.git
[submodule "sdk/swift-holons"]
	path = sdk/swift-holons
	url = git@github.com:organic-programming/swift-holons.git
[submodule "sdk/go-cli-holonization"]
	path = sdk/go-cli-holonization
	url = git@github.com:organic-programming/go-cli-holonization.git
[submodule "holons/rob-go"]
	path = holons/rob-go
	url = git@github.com:organic-programming/rob-go.git
[submodule "holons/jess-npm"]
	path = holons/jess-npm
	url = git@github.com:organic-programming/jess-npm.git
[submodule "recipes/go-dart-holons"]
	path = recipes/go-dart-holons
	url = git@github.com:organic-programming/go-dart-holons.git
	branch = master
[submodule "recipes/go-swift-holons"]
	path = recipes/go-swift-holons
	url = git@github.com:organic-programming/go-swift-holons.git
[submodule "recipes/go-kotlin-holons"]
	path = recipes/go-kotlin-holons
	url = git@github.com:organic-programming/go-kotlin-holons.git
[submodule "recipes/go-web-holons"]
	path = recipes/go-web-holons
	url = git@github.com:organic-programming/go-web-holons.git
[submodule "recipes/go-dotnet-holons"]
	path = recipes/go-dotnet-holons
	url = git@github.com:organic-programming/go-dotnet-holons.git
[submodule "recipes/go-qt-holons"]
	path = recipes/go-qt-holons
	url = git@github.com:organic-programming/go-qt-holons.git
[submodule "recipes/rust-dart-holons"]
	path = recipes/rust-dart-holons
	url = git@github.com:organic-programming/rust-dart-holons.git
[submodule "recipes/rust-swift-holons"]
	path = recipes/rust-swift-holons
	url = git@github.com:organic-programming/rust-swift-holons.git
[submodule "recipes/rust-kotlin-holons"]
	path = recipes/rust-kotlin-holons
	url = git@github.com:organic-programming/rust-kotlin-holons.git
[submodule "recipes/rust-web-holons"]
	path = recipes/rust-web-holons
	url = git@github.com:organic-programming/rust-web-holons.git
[submodule "recipes/rust-dotnet-holons"]
	path = recipes/rust-dotnet-holons
	url = git@github.com:organic-programming/rust-dotnet-holons.git
[submodule "recipes/rust-qt-holons"]
	path = recipes/rust-qt-holons
	url = git@github.com:organic-programming/rust-qt-holons.git
