.op/
**/.op/
**/build/
**/target/
**/.gradle/
**/.dart_tool/
**/node_modules/
**/.bundle/
**/vendor/bundle/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json
**/.swiftpm/
